* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header, main, footer {
  margin: 0 auto;
  max-width: 1280px;
  padding: 10px;
}

header {
  background-color: #c4fa8f;
  display: flex;
  align-items: center;
  justify-content: space-between;
}